<article class="choice-check">

  <i class="md-icon">{{choice.icon}}</i>
  <span ng-bind-html="choice.model | translate"></span>

  <aside>

    <input
      type="radio"
      ng-model="choice.value"
      id="id-{{choice.model}}-1"
      ng-required="true"
      ng-value="true"
    >
    <label for="id-{{choice.model}}-1"><i class="md-icon">check</i></label>

    <input
      type="radio"
      ng-model="choice.value"
      id="id-{{choice.model}}-2"
      ng-required="true"
      ng-value="false"
    >
    <label for="id-{{choice.model}}-2"><i class="md-icon">close</i></label>

  </aside>

</article>