// main style scss

html, body, main {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

$font-stack:    'Roboto', sans-serif;
$font-size:     16px;
$font-size-min: 12px;

* {
  box-sizing: border-box;
  outline: none;
}

.clearfix {
  overflow: auto;
}


.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@import 'import/layout';
@import 'import/colors';
@import 'import/header';
@import 'import/menu';
@import 'import/fields';
@import 'import/icons';
@import 'import/results';