<article class="choice-check">

  <i class="md-icon">{{choice.icon}}</i>
  <span ng-bind-html="choice.model | translate"></span>

  <aside>

    <strong ng-click="from.toggle()">
      <span ng-class="{sel: from.hourChecked}">{{choice.value.hh | timenumber}}</span>
      <span>:</span>
      <span ng-class="{sel: !from.hourChecked}">{{choice.value.mm | timenumber}}</span>
    </strong>

    <span class="arrows">
      <a href="" ng-click="from.add()">
        <i class="md-icon">expand_less</i>
      </a>
      <a href="" ng-click="from.remove()">
        <i class="md-icon">expand_more</i>
      </a>
    </span>

    <input type="hidden" ng-model="choice.value">

  </aside>

</article>