// colors

$white:         white;
$white-thin:    rgba(255, 255, 255, 0.1);
$white-mid:     rgba(255, 255, 255, 0.3);
$white-strong:  rgba(255, 255, 255, 0.6);

$black:         black;
$black-thin:    rgba(0, 0, 0, 0.3);
$black-light:   rgba(0, 0, 0, 0.4);

$black-mid:     rgba(0, 0, 0, 0.5);
$black-strong:  rgba(0, 0, 0, 0.8);


$red:           #ff5252;
$green:         #4caf50;