// fields scss
input {
  font-family: $font-stack;
}

input[type='text'], input[type='password'] {
  background: $black-thin;

  border-style: solid;
  border-color: $black-light;
  border-width: 0 0 2px;

  color: $white;
  display: block;
  font-size: 1em;
  padding: 0.5em;
  margin: 0 0 2em;
  width: 100%;

  &::-webkit-input-placeholder {
    color: $white-mid;
  }
  &::-moz-placeholder {
    color: $white-mid;
  }
  &:-ms-input-placeholder {
    color: $white-mid;
  }
}

button {
  @extend .user-select-none;
  background: transparent;
  border: 1px solid $white;
  border-radius: 0.3em;
  color: $white;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  margin: 0 auto 1em;
  padding: 0.5em;
  width: 80%;

  &:active {
    background: $white-thin;
  }

  &:disabled {
    border: 1px solid $white-mid;
    color: $white-thin;
    cursor: default;
  }
}

.block {
  background: $black-thin;
  border-bottom: 2px solid $black-light;
  padding: 0.5em 0.5em 0.5em 1em;
}

.choicebox {
   cursor: pointer;
   &:active {
    background: $white-mid;
   }
}

.choice-check {
  @extend .user-select-none;
  @extend .clearfix;
  @extend .block;
  margin: 0 0 1em;
  padding-bottom: 0.3em;

  > i {
    font-size: 2.5em;
  }
  span {
    display: inline-block;
    font-size: 1.2em;
    line-height: 2em;
    padding: 0 0 0 0.5em;
  }
  > i, span {
    color: $white;
    float: left;
  }
  aside {
    float: right;
    text-align: right;
    label {
      cursor: pointer;
    }
  }

  input[type=checkbox] {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    +label {
      color: $white-strong;
      i {
        font-size: 2em;
        font-weight: bold;
      }
    }
    &:checked + label {
      color: $green;
      text-shadow: 1px 1px 1px $black;
    }

  }

  input[type=range] {
    margin: 0.6em 0 0 0.5em;
    width: 70%;

    -webkit-appearance: none;
    height: 2px;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 1.2em;
      height: 1.2em;
      border-radius: 50%;
      background-color: $white;
    }
  }

  input[type=time] {
    background: transparent;
    border: 0;
    color: $white;
    font-size: 1.2em;
    margin: 0.2em 0 0;
    text-align: right;
  }

  strong {
    cursor: pointer;
    display: inline-block;
    float: left;
    font-weight: 300;
    position: relative;
    left: 0.3em;
    span {
      display: inline-block;
      padding: 0 0.2em;
    }
  }
  .sel {
    background: $white-mid;
    border-radius: 0.3em;
  }

}

.arrows {
  a {
    color: $white;
    font-size:  2em;
    :active {
      color: $white-mid;
    }
  }
}