// fields scss
input {
  font-family: $font-stack;
}

input[type='text'], input[type='password'] {
  background: none;
  border-style: solid;
  border-color: $white;
  border-width: 0 0 1px;
  color: $white;
  display: block;
  font-size: 1em;
  padding: 0.5em;
  margin: 0 0 3em;
  width: 100%;
}

button {
  background: transparent;
  border: 1px solid $white;
  border-radius: 0.3em;
  color: $white;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  margin: 0 auto 1em;
  padding: 0.5em;
  width: 80%;

  &:active {
    background: $white-thin;
  }

  &:disabled {
    border: 1px solid $white-mid;
    color: $white-thin;
    cursor: default;
  }
}

.block {
  background: $white-thin;
  border-bottom: 2px solid $black-mid;
  margin: 0 0 1em;
  padding: 0.5em 0.5em 0.2em 0.5em;
}

.choice-check {
  @extend .clearfix;
  @extend .block;

  >i {
    line-height: 0.9em;
    font-size: 2.5em;
  }
  span {
    display: inline-block;
    font-size: 1.2em;
    line-height: 2em;
    padding: 0 0 0 0.5em;
  }
  > i, span {
    color: $white;
    cursor: default;
    float: left;
  }
  aside {
    float: right;
    text-align: right;
  }

  input[type=radio] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    & + label {
      cursor: pointer;
    }
    +label {
      color: $white-strong;
      i {
        font-size: 2em;
        font-weight: bold;
        text-shadow: 1px 1px 1px $black;
      }
    }

    &:checked:first-of-type + label {
      color: $green;
    }
    &:checked:last-of-type + label {
      color: $red;
    }
  }

  input[type=range] {
    margin: 0.6em 0 0 0.5em;
    width: 70%;

    -webkit-appearance: none;
    height: 2px;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 1.2em;
      height: 1.2em;
      border-radius: 50%;
      background-color: $white;
    }
  }

  input[type=time] {
    background: transparent;
    border: 0;
    color: $white;
    font-size: 1.2em;
    margin: 0.2em 0 0;
    text-align: right;
  }

  strong {
    color: $white;
    font-size: 1.2em;
    position: relative;
    top: 0.2em;
  }
}

.result-line {
  @extend .block;
  color: $white;
  cursor: pointer;
  padding-bottom: 0.5em;

  &:active {
    background: $white-mid;
  }

  i {
    font-size: 1.5em;
    margin: 0 0 0 0.5em;
    vertical-align: middle;
  }
  span {
    vertical-align: middle;
    &:last-of-type {
      float: right;
      padding: 0.1em 0 0;
    }
  }
}