.main-header {

  background: $black-mid;
  border-bottom: 2px solid $black-strong;
  @extend .clearfix;
  left: 0;
  position: fixed;
  top :0;
  width: 100%;
  z-index: 1000;

  h1 {
    float: left;
    margin: 0;
    padding: 0.3em 0 0.2em 0.5em;
    a {
      color: $white;
      display: block;
      font-size: 0.7em;
      font-weight: 300;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }

  .icon-menu {
    color: $white;
    display: inline-block;
    float: right;
    padding: 0.3em 1em 0;
    i {
      font-size: 2em;
    }
    &:active i {
      color: $white-mid;
    }
  }
}