// layout scss
body {
  background: url('../img/bg.jpg') no-repeat;
  background-size: cover;
  font-family:  $font-stack;
  font-size:    $font-size;
  font-weight:  300;
}

  main {
    overflow: auto;
    > section {
      height: 100%;
    }
  }

    .choice-content,
    .result-content {
      padding: 8em 0.5em 0;
    }

    .login-content {
      height: 100%;
      &:before {
        content: '';
        display: inline-block;
        font-size: 0;
        height: 100%;
        margin-left: -4px;
        vertical-align: middle;
        width: 0;
      }
    }

    .login-form {
      display: inline-block;
      padding: 0 0.5em;
      vertical-align: middle;
      width: 100%;
    }
