<header class="main-header">

  <a
    href=""
    class="icon-menu"
    ng-if="main.goState"
    ng-click="main.open = true; main.close = false"
  ><i class="md-icon">menu</i></a>

  <h1>
    <a  href=""
        ng-click="main.goHome()"
        ng-class="{active: main.goState}"
    >
      Djinn
    </a>
  </h1>

</header>

<aside class="main-panel" ng-class="{open: main.open, close: main.close}">

  <nav>
    <a href="" ng-click="main.close = true; main.open = false">
      <i class="md-icon">cancel</i>
    </a>
  </nav>

  <section>

    <article>
      <a href="" ng-bind-html="'favorites'|translate"></a>
    </article>

    <article class="menu-lang">
      <span ng-bind-html="'lang' | translate"></span> :
      <a  href=""
          ng-repeat="language in main.languages"
          ng-click="main.setPrefLang(language)"
      >
        <span ng-class="{selected: main.selectedLang === language}">{{language | uppercase}}</span>
        <span ng-if="!$last"> -&nbsp;</span>
      </a>
    </article>

    <article>
      <a href="" ng-click="main.logout()">
        <i class="md-icon">power_settings_new</i>
        <span ng-bind-html="'logout' | translate"></span>
      </a>
    </article>

  </section>

</aside>

<section ui-view></section>

<djinn-modale></djinn-modale>